
    <div class="flex justify-center p-2 px-4 pt-4 mb-5 max-w-7xl bg-gradient-to-br from-orange-400 to-red-600 rounded-lg border border-none shadow-lg dark:bg-gray-900 dark:border-gray-700">	
		<div class="flex flex-col content-center items-inline pb-10">
		<a class=" mb-1 text-xl font-medium text-white dark:text-white" href="/blog/{{id}}">{{title}}</a></h3>
			<span class="mb-4 text-sm text-white dark:text-gray-400">{{content}}</span>
	       </div>
    </div>
